body {


}

.col-sm-4{
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

h1{
  font-size: 18pt;
}

h2{
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

 p{
  font-family: 'Raleway', sans-serif;
}
.home{
  font-size: 22pt;

}

.img_desc {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

#wrapper:hover .img_desc {
visibility:visible;
}
