
a{
  color: black;
}

h1{
  font-size: 18pt;
}
p{
  background-color: #7f0000
  /*background-color: rgba(0, 0, 255, 0.4);*/
}

.navcolumns {
	text-align: center;
}

.navlinks {
	color: black;
}

.navbar {
	background-color: white;
	padding: 0px 0px 5px 0px;
}

.col-sm-6 p{
  margin-top: 50px;
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 13pt;
  text-align: justify;
}

.col-sm-6 iframe{
  padding: 10px;
}

.col-sm-6 .first_artists{
  margin-top: 90px;
  font-family: 'Fredoka One', cursive;
  color: white;
  text-align: center;
}

.col-sm-6 .first_latest{
  font-family: 'Fredoka One', cursive;
  font-size: 15pt;
  color: white;
  margin-top: 90px;
}

.content{
  width: 100%;

}

.james{
  background-image: url("./gioia.pics/James.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  margin-bottom: 20px
}


.high_hazels{
  background-image: url("./gioia.pics/high_hazels.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 20px;

}

.time_sellers{
  background-image: url("./gioia.pics/the_time_sellers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 20px;

}

.liberty_ship{
  background-image: url("./gioia.pics/liberty_ships.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 20px;
}


.col-sm-4{
  text-align: center;
  font-family: 'Fredoka One', cursive;
}


.artist_name{
  font-family: 'Fredoka One', cursive;
  color: white;
  text-align: center;
}

.latest{
  font-family: 'Fredoka One', cursive;
  font-size: 15pt;
  color: white;
}

.home{
  font-size: 22pt;

}

.artist_social{
  font-family: 'Fredoka One', cursive;
  text-align: left;
  font-size: 12pt;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 22%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.footer {
	text-align: center;
	bottom: 5px;
	height: 150px;
}

.mus1clogo {
	max-width: 15%;
}
