

	h1{
	  font-size: 45px;
	  color: black;
	  font-weight: bold;
	  font-family: 'Fredoka One', cursive;

	}

	h2{
	  font-size: 55px;
	  color: #7f0000;
	  font-family: 'Fredoka One', cursive;
		}

	h3{
		font-size: 45px;
	  	color: black;
	  	font-family: 'Fredoka One', cursive;
	}


	body {
	  text-align: center;
	  background color: white;
	  background-size: cover;
	  background-position: center;
	  font-family: 'Raleway', sans-serif;
	  color: black;
	}


	input{
	  border: 0;
	  padding: 10px;
	  font-size: 18px;
	}
	input[type="submit"] {
	  background-color: black;
	  color: white;
	  border-color: black;
	}
	p{
		
		font-size: 30px;
		font-weight: bold;
		color: black;
	}
	li {
		display: inline;
		padding: 0px 10px 0px 10px;
	}

	a{
		color: black;
		font-size: 25px;

	}

	.bandinfo {
		font-size: 18px;
	}

	.jumbotron {
		background-color: white;
	}

	.smallabout {
		margin: 90px 0px 0px 0px;
	}

	.smallabout p{
		font-size: 20px;
	}

	.bandchoice {
		margin: 20px 0px 0px 0px;
	}

	.bandphoto {
		margin: 0px 0px 20px 0px;
	}

	.soundcloud {
		margin: 20px 0px 20px 0px;
	}

	.socialmedia {
		margin: 50px 0px 50px 0px;
	}

	.navcolumns {
		text-align: center;
	}

	.navlinks {
		color: black;
	}

	.navbar {
		background-color: white;
		padding: 0px 0px 5px 0px;
	}

	.footer {

		margin: 50px 0px 0px 0px;
	}

	.fa {
	  padding: 20px;
	  font-size: 30px;
	  width: 50px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	  border-radius: 22%;
	}

	.fa:hover {
	    opacity: 0.7;
	}

	.fa-facebook {
	  background: #3B5998;
	  color: white;
	}

	.fa-youtube {
	  background: #bb0000;
	  color: white;
	}

	.fa-twitter {
	  background: #55ACEE;
	  color: white;
	}

	.fa-instagram {
	  background: #125688;
	  color: white;
	}

	.fa-soundcloud {
	  background: #ff5500;
	  color: white;
	}

	.footer {
			text-align: center;
			bottom: 5px;
			height: 150px;
	}

	.mus1clogo {
			max-width: 15%;
	}


		